@import '../../css/variables.less';

.Eula {
    background-color: @white;
    margin-top: 15px;
    height: 100%;
    box-shadow: 0px -4px 23px rgba(50, 50, 50, 0.25);
}

.Eula-heading {
    font-weight: bold;
    border-bottom: 1px solid @gray-100;
    margin-bottom: 25px;
}

.Eula-subHeading {
    font-weight: bold;
}

.Eula-title {
    font-weight: bold;
}

.Eula-paragraph {
    font-size: 1.5rem;
}

.Eula-alphaSubList {
    li:before {
        content: '' !important;
        margin: 0;
    }
}

.Eula-listSection {
    font-size: 1.5rem;
    padding-left: 30px;
}

.Eula-indentBlock {
    margin-left: 25px;
}

.Eula-goBackButton {
    border: none;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}

ol {
    counter-reset: item1;
}

ol li {
    display: block;
    position: relative;
}

ol li::before {
    content: counter(item1)".";
    counter-increment: item1;
    position: absolute;
    margin-right: 100%;
    right: 10px;
}

ol ol {
    counter-reset: item2;
}

ol ol li:before {
    content: counter(item1)"."counter(item2)".";
    counter-increment: item2;
}

ol ol ol {
    counter-reset: item3;
}

ol ol ol li:before {
    content: counter(item1)"."counter(item2)"."counter(item3)".";
    counter-increment: item3;
}

ol ol ol ol {
    counter-reset: item4;
}