@import '../../css/variables.less';

.ParallaxImage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: linear-gradient(@primary-color, @blue-100);

    .ParallaxImage-item {
        width: 100%;
        height: 100%;
        opacity: 0.2;
        background-image: url('../../assets/doodlebg.png');
        background-position: center;
        background-repeat: repeat;
        background-size: 50%;
    }
}