@import '../../css/variables.less';

.Terms {
    background-color: @white;
    margin-top: 15px;
    height: 100%;
    box-shadow: 0px -4px 23px rgba(50, 50, 50, 0.25);
}

.Terms-heading {
    font-weight: bold;
    border-bottom: 1px solid @gray-100;
    margin-bottom: 25px;
}

.Terms-subHeading {
    font-weight: bold;
}

.Terms-paragraph {
    font-size: 1.5rem;
}

.Terms-title {
    font-weight: bold;
}

.Terms-goBackButton {
    border: none;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}

.Footer-row {
    width: 100%;
}
