@import '../../css/variables.less';

.Policy {
    background-color: @white;
    margin-top: 15px;
    height: 100%;
    box-shadow: 0px -4px 23px rgba(50, 50, 50, 0.25);
}

.Policy-heading {
    font-weight: bold;
    border-bottom: 1px solid @gray-100;
    margin-bottom: 25px;
}

.Policy-subHeading {
    font-weight: bold;
}

.Policy-paragraph {
    font-size: 1.5rem;
}

.Policy-title {
    font-weight: bold;
}

.Footer-row {
    width: 100%;
}

.Policy-indentBlock {
    margin-left: 5px;
}

.Policy-indentSubBlock {
    margin-left: 25px;
}

.Policy-goBackButton {
    border: none;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}
