@import '../../css/variables.less';

.Header {
  display: flex;
  padding-top: 25px;
  margin-bottom: 25px;
  // border-top: 5px solid @blue-200;
}

.Header-logo {
  width: 120px;
}

.Header-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  .Header-menuItem {
    height: 40px;
    margin-left: 20px;
    font-weight: bold;
    color: @white;
    border-radius: 10px;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      background-color: @secondary-color;
      cursor: pointer;

      .Header-menuAnchor {
        font-weight: 800;
      }
    }
  }
}

.Header-mobile {
  display: none;
}

.Header-menuAnchor {
  text-decoration: none;
  color: @white;
  position: relative;
  top: 7px;

  &:hover,
  &:active,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

.Header-language {
  height: 40px;
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid @white;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: @white;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: transparent;

  &:active,
  &:focus {
    border: 1px solid @white;
  }
}

@media (max-width: 480px) {
  .Header-menu {
    justify-content: center;

    .Header-menuItem {
      margin: 0;
    }
  }
}