.u-align-left {
    align-self: flex-start;
}

.u-align-right {
    align-self: flex-end;
}

.u-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-flex-col {
    flex-direction: column;
}

.u-flex-row {
    flex-direction: row;
}