@white: #FFFFFF;
@black: #272727;
@primary-color: #3DCD8F;
@secondary-color: #02b898;
@accent-color: #333647;
@accent-color2: #8ADECA;
@accent-color3: #5991AB;

@gray-100: #C3C3C3;
@gray-200: #E7E8EA;
@gray-300: #F8F9FA;

@blue-100: #05A8FB;
@blue-200: #475F95;