@import '../../css/variables.less';

.Footer {
    background-color: @black;
}

.Footer-row {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    color: @white;
}

.Footer-scrollToTopContainer {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: @blue-100;
    text-align: center;

    .Footer-scrollToTopIcon {
        position: relative;
        top: 9px;
        font-size: 20px;
    }
}

.Footer-brandLogo {
    width: 120px;
    height: 41px;
}

.Footer-copyrights {
    height: 30px;
    text-align: center;
    background-color: @secondary-color;

    .Footer-copyrightsText {
        font-size: 14px;
    }
}

.Footer-rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.Footer-social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: @secondary-color;
    display: flex;
    justify-content: center;
    align-content: center;
    vertical-align: middle;

    .Footer-socialIcon {
        position: relative;
        top: 5px;
        align-self: center;
        font-size: 30px;
        color: @white;
    }
}

.Footer-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;

    .Footer-menuItem {
        font-weight: bold;
        color: @white;
        border-radius: 10px;
        background-color: transparent;
        padding: 10px;

        &:hover {
            text-decoration: underline;
            cursor: pointer;

            .Footer-menuAnchor {
                font-weight: 800;
            }
        }

    }
}

.Footer-menuAnchor {
    text-decoration: none;
    color: @white;

    &:hover,
    &:active,
    &:visited {
        color: inherit;
        text-decoration: none;
    }
}