@import '../../css/variables.less';

.Home-row {
    margin-top: 45px;
    padding-top: 10px;
    width: auto;
    padding-bottom: 10px;
}

.Home-chatCharacter {
    width: 100px;
}

.Home-chatBubble {
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px;
    position: relative;

    &.left {
        &::after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 19px 24px 19px 0;
            border-color: transparent rgba(255,255,255, 0.5);
            display: block;
            width: 0;
            z-index: 1;
            left: -24px;
            top: 24%;
        }
    }

    &.right {
        &::after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 19px 0 19px 24px;
            border-color: transparent rgba(255,255,255, 0.5);
            display: block;
            width: 0;
            z-index: 1;
            right: -24px;
            top: 24%;
        }
    }
}

.Home-downloadImage {
    width: 150px;
    margin-right: 0.8rem;
}

.Home-contactFormError {
    color: darkred;
    display: none;

    &.visible {
        display: block;
    }
}

.Home-contactFormMessage {
    margin: 0;
}

.Home-contactFormEmail {
    margin: 0;
}

.Home-contactFormSuccess {
    color: darkgreen;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    display: none;

    &.visible {
        display: block;
    }
}

.Home-contactFormServerError {
    color: darkred;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    display: none;

    &.visible {
        display: block;
    }
}