/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

.block-spacer {
  padding: 2rem 0;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
  z-index: 1;
}

.section-item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.section-item-description {
  color: #3d3d3d;
  font-weight: 400;
  font-size: 1.8rem;
}

.section-goBack {
  margin-bottom: 20px;
}

.section-goBack:hover {
  color: #05A8FB;
}

.goBackIcon {
  position: relative;
  top: 7px;
}

.section-goBack:hover .goBackIcon {
  fill: #05A8FB;
}

.section-goBack a {
  text-decoration: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.section-image {
  width: 200px;
  height: 200px;
  background-color: #c3c3c3;
}

.section-heading,
.section-description {
  color: #ffffff;
  margin-bottom: 1.2rem;
  font-weight: 400;
}

.section-heading {
  font-weight: 900;
}

.section-description {
  font-size: 2rem;
}

.hero-heading {
  color: #ffffff;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

.pp-icon {
  width: 100px;
  height: 100px;
}

/* Download
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.download {
  /* border-bottom: 1px solid #ddd; */
  /* background-color: #F8F9FA; */
  z-index: 10;
}

.download .section-heading,
.download .section-description {
  color: #fff;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  overflow: hidden;
  background-color: #F8F9FA;
  /* background-image: url('/paws-bg.png');
  background-position: center;

  background-size: contain; */
}

.about .section-heading,
.about .section-description {
  color: #3d3d3d;
}

.contact {
  background-color: #F8F9FA;
}

.top-detail-container {
  position: relative;
  top: -95px;
}

.top-detail-image {
  width: 80%;
}

/* Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact {
  background-color: transparent;
}

.contact .section-heading,
.contact .section-description {
  color: #fff;
}

.contact-form {
  margin-top: 20px;
  text-align: left;
}

.form-label {
  color: #fff;
}

.form-input {
  color: #3d3d3d;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 265px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 3rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 290px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 8rem 0 8rem;
  }
  .section-description {
    /* max-width: 60%; */
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }

  .section.about {
    padding: 8rem 0 8rem;
  }

  .hero {
    padding: 14rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    left: 200px;
    max-height: 570px;
  }
}

@media (max-width: 1000px) {
  .phone,
  .phone + .phone {
    display: none;
  }

  .section.about {
    padding: 8rem 0 8rem;
  }

  .one-half.column {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .section {
    padding: 4rem 0 9rem;
  }

  .section-item {
    margin: 0;
  }

  .section-item img {
    max-width: 60%;
  }

  .section-item-divider {
    margin: 30px auto;
    border-top: 1px solid #c3c3c3;
    width: 80%;
  }

  .section-item:not(.reversed) {
    flex-direction: column;
  }

  .reversed {
    flex-direction: column-reverse;
  }

  .section-heading.align-left,
  .section-heading.align-right {
    text-align: center;
    font-size: 2rem;
  }

  .section-item-description {
    text-align: center;
    font-size: 1.5rem;
  }
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section-button {
  border: none !important;
  background-color: #3d3d3d !important;
  border-radius: 20px !important;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
  text-transform: capitalize !important;
}

.inline-logo {
  position: relative;
  top: 7px;
}